################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# 2023
/.vs
/packages
/x64
2023/*.txt

# 2024
2024/Cargo.lock
**/target
**/files